@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html,
body {
    overflow-x: hidden;
}

.navLogo {
    width: 280px;
}

.maxFullDeviveWidth {
    width: 100%;
}

.logoutAndUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logoutAndUserSmall {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}



.userPofileImg {
    width: 40px;
    height:40px;
    border-radius: 100%;
    object-fit: cover;
    background-color: #ff5858;
    border: #eeeeee solid 1.5px;

}

.userPofileImg img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
}



.logoutAndUserSmall .userPofileImg {
    margin-left: 20px;
}

.typeSelectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeSelection {
    max-width: 90vw;
}

.userTasteFilter {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.eachElem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}


.selectOption {
    /* Set a custom background color for the dropdown trigger (arrow area) */
    background-color: #fff;
    /* Add a shadow to the dropdown */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    /* Style the border to match the material design */
    border: 1px solid #ccc;
    border-radius: 4px;
    /* Style the select text color */
    color: #333;
    /* Style the select text padding and font */
    padding: 10px;
    font-size: 16px;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    /* Adjust the position as needed */
    padding: 7px 20px 7px 10px;
    /* Ensure space for the dot */



}

/* Style the select options */
.selectOption option {
    /* Match the text color to the select text color */
    color: #333;
    /* Add some padding for better spacing */
    padding: 10px;
    /* Style the hover effect for options */
    transition: background-color 0.2s;
}

.selectOption option:hover {
    /* Change the background color on hover */
    background-color: #f0f0f0;
}

.howItWorks {
    margin-top: 110px;
}

.textSize4 {
    font-size: 1.5rem;

}

.textSize6 {
    font-size: 3.2rem;
    text-align: center;
}





.contacForm {


    padding: 50px 50px;
    gap: 30px;
}

.footerItems {
    gap: 30px;
}

.stepsCardCont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.stepsCard {
    width: 250px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.stepsCardHeading {
    margin: 20px 0;
}

.stepsCardArrow {
    width: 85px;
    margin-top: 100px;
}

.loginForm {
    width: 50vw;
}

.loginContainer {

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
    gap: 60px;
}


.mainExploreContainer {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, #f2f2f2 0%, #eeeeee 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.filterOptionsContainer {


    width: 280px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    position: absolute;
    top: 0;
    transition: 480ms;
    z-index: 999;

}

.filterOptionsToggleBtn {
    position: absolute;
    top: 5%;
    right: -50px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.filterClosed {
    left: -280px;
}

.filterOpen {
    left: 0px;
}

.filterOptions {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.genderFFilter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.smallFilterOptionCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.smallFilterOptionCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 480ms;
}

.smallFilterOptionCardSelected {
    border: #ff5858 solid 2px;

}

.filterOptionIcon {
    font-size: 1.3rem;
}



.exploreItems {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.exploreItemCard {
    display: flex;
    width: 450px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: 480ms;
}

.exploreItemImg {
    width: 280px;
    position: relative;
}

.likeBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffffa6;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.exploreItemImg img {
    width: 100%;
    min-height: 226px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.exploreItemDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 10px;
    padding: 10px;
}

.nameAndAddressForCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.exploreItemName {
    font-size: 1.3rem;
    font-weight: 600;
}

.exploreItemAddress {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 400;
}

.addressIcon {
    font-size: 0.8rem;
    margin-top: 5px;
}

.generalDetails {
    display: flex;
    flex-wrap: wrap;

}

.eachGeneralDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 20px 5px 0;
}

.eachGeneralDetailInner {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gdIcon {
    margin-right: 10px;
}

.favoritesPane {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    position: absolute;
    transition: 480ms;
    top: 0;

}

.favsToggleBtn {
    position: absolute;
    top: 5%;
    left: -50px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    right: 0;
    width: 36.5px;
}

.favsToggleBtnClosed {
    position: absolute;
    top: 5%;
    left: -70px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    right: 0;
    width: 36.5px;
}

.favClosed {
    right: -280px;
}

.favOpen {
    right: 0px;
}

.favorites {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.favoritesList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.favoriteItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 480ms;
}

.favoriteItem:hover {
    background-color: #f2f2f2;
}

.favImg {
    width: 30px;
    height: 30px;
}

.favImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
    .stepsCard {
        width: 220px;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }



    .stepsCardArrow {
        width: 65px;
        margin-top: 100px;
    }

}

@media only screen and (max-width: 950px) {

    .footerItems {
        flex-direction: column;
    }

    .margin0 {
        margin: 0;
    }

    .stepsCard {
        padding: 30px 20px;
    }

    .stepsCardArrow {
        display: none;
    }


    .loginContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 50px 0;
        gap: 60px;
    }

    .loginArt {
        /* display: none; */
    }

}

@media only screen and (max-width: 860px) {

    .typeSelectionContainer {
        margin-top: 290px;
    }

    .userTasteFilter {

        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 60vw;
        padding: 15px 0;
    }

    .eachElem {
        width: 87%;
    }

    .optionCont {
        width: 100%;
    }

    .selectOption {
        width: 100%;
    }

    .searchTypeFiltBtn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .howItWorks {
        margin-top: 350px;
    }

    .textSize6 {
        font-size: 2.2rem;
    }

    .containerWithPadding {
        padding: 30px;
    }

    .contactFormContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacForm {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 50px 30px;
        gap: 30px;
    }

    .formElement {
        width: 95%;
    }

    .getStartedTxt {
        color: #fff;
        font-size: 3.5rem;
        font-weight: 600;
    }

}


.openedCardOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow-y: hidden;
    background-color: #000000a6;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.openedCard {
    width: 80vw;
    min-height: 80vh;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    position: fixed;
    top: 10vh;
    left: 10vw;
    z-index: 99999;
}

.openedCardImg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openedCardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.openedCardDetails {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.openedCardName {
    font-size: 2rem;
    font-weight: 600;
}

.openedCardAddress {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 400;
}

.openedCardAddressIcon {
    font-size: 1rem;
    margin-top: 5px;
}

.openedCardGeneralDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.eachGeneralDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 20px 5px 0;
}

.eachGeneralDetailInner {
    display: flex;
    justify-content: center;
    align-items: center;

}

.openedCardPostedOn {
    font-size: 1.3rem;
    font-weight: 400;
}

.viewButtonDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.viewButtonDivUserPage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 20px;
}

.viewButton {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ff5858;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 480ms;
}

.closeCardBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffffa6;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/*-------------------------------------------------------------------match page-------------------------------------------*/

.matchPageContainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 50px;

}

.matchDataContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.matchData {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.userData {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
}



.openedCardImgMatch {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openedCardImgMatch img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.openedCardImgUser {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openedCardImgUser img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}


.contactBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #71db57;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 480ms;

}

.editUserBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 6px 20px;
    border-radius: 3px;
    background-color: #595959;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 480ms;

}

.adminBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 6px 20px;
    border-radius: 3px;
    background-color: #595959;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 480ms;

}

.userProf {
    display: flex;
    flex-direction: column;
}


.imageArray {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.secondaryImg img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.profEdit {
    width: 80vw;
    min-height: 80vh;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    position: absolute;
    top: 10vh;
    left: 10vw;
    z-index: 99999;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*-------------------------------admin------------------------------*/
.adminPage {
    width: 100vw;
    min-height: 100vh;
    position: relative;

}

.takeFullWithAndHeight {
    width: 100%;
    min-height: 100vh;
}

.adminOptions {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.adminOption {
    background-color: #fff6f6;
    padding: 25px 15px;

}

.adminOption:hover {
    background-color: #e9e9e9;
}

/*------------------user---------------------*/

.userList {
    padding: 30px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.eachUserFromList {
    width: 100%;
    min-height: 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 50px;
    border-radius: 15px;

}

.mainDetailUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: medium;
    color: #333;
    font-weight: 500;

}

.bigText {
    font-size: larger;
    font-weight: 600;

}

.iconsCont {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.labelApproved {
    padding: 2px 14px;
    background-color: #57e134;
    border-radius: 5px;
    font-size: smaller;
    color: #fff;
}

.labelNotApproved {
    padding: 2px 14px;
    background-color: #ffae2d;
    border-radius: 5px;
    font-size: smaller;
    color: white;
}

.iconCircleEdit {
    border: 1px solid #595959;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconCircleDelete {
    border: 1px solid #ff7913;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------email-----------------------------*/

#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-div {
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    margin-top: 30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #ca8a04;
    color: #ca8a04;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused {
    color: #ca8a04;
    border: #ca8a04 solid 3px;
}

/* Icons ---------------------------------- */
#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}

#button-blue {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #ca8a04;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #ca8a04;
}

.submit:hover {
    color: #ca8a04;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

.checkBox {
    padding: 20px 0;
    display: flex;
    gap: 20px;
}

/* The container */
.containerCheckBx {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckBx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheckBx:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckBx input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckBx input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheckBx .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media only screen and (max-width: 720px) {
    .stepsCardCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stepsCard {
        width: 100%;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .footerContainer {
        flex-direction: column;
        gap: 60px;
        margin-top: 50px;
    }

    .loginForm {
        width: 80vw;
    }

    .registerArt {
        width: 80vw;
    }

    .exploreItems {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .exploreItemCard {
        display: flex;
        flex-direction: column;
        width: 90%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        transition: 480ms;
    }

    .exploreItemImg {
        width: 80vw;

    }

    .exploreItemImg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .likeBtn {
        top: 20px;
    }




    .openedCard {
        flex-direction: column;
        padding: 10px 0px;
    }

    .openedCardImg {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .openedCardImg img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

}

.emailCont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 35px;
}

.fullWidthtOnly {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}